<ion-view title="Login">

	<ion-nav-bar class="bar-stable">
	</ion-nav-bar>
	<ion-content>

		<h4 class="text-center">Login to the Totai App Store</h4>
		<form name="loginForm" ng-submit="login(credentials)" novalidate>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Username</span>
					<input type="text" ng-model="credentials.username">
				</label>
				<label class="item item-input">
					<span class="input-label">Password</span>
					<input type="password" ng-model="credentials.password">
				</label>
			</div>
			<div class="padding">
				<button nav-clear type="submit" class="button button-block button-positive">
					Log in
				</button>

			</div>
		</form>
	</ion-content>
</ion-view>